

.itemList {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    h1{
        display: flex;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        justify-content: center;
    }
    h2{
        display: flex;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        justify-content: center;
    }

    .cardList {
        display: block;
        width: 300px;
        height: 500px;
        flex-flow: row wrap;
        margin: 25px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        border-radius: 50px;
        border-color: black;
        -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.37);


        #cardTitle {
            display: flex;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 900;
            justify-content: center;
            margin-bottom: 25px;
        }
    }
}